{% load sstatic %}
{% load verbatim %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% sstatic 'css/noneditable.css' %}">
{% endblock stylesheets %}

{% verbatim %}
	<template id="component-listbox">
		<div class="control-group">
			<label>
				<span class="control-label">
					<span data-bind="html: label"></span>
					<helplink params="url: helpURL"></helplink>
				</span>
				<div class="controls">
					<!-- ko foreach: value -->
					<span class="well well-small" data-bind="text: $data"></span >
					<!-- /ko -->
				</div>
			</label>
		</div>
	</template>

	<template id="component-property">
		<div class="control-group">
			<label>
				<span class="control-label">
					<span data-bind="html: label"></span>
					<helplink params="url: helpURL"></helplink>
				</span>
				<div class="controls">
					<span class="value" data-bind="text: value, css: {monospace: monospace}"></span>
				</div>
			</label>
		</div>
	</template>

	<template id="component-numberproperty">
		<div class="control-group">
			<label>
				<span class="control-label">
					<span data-bind="html: label"></span>
					<helplink params="url: helpURL"></helplink>
				</span>
				<div class="controls">
					<span class="value" data-bind="text: value, css: {monospace: monospace}"></span>
				</div>
			</label>
		</div>
	</template>

	<template id="component-booleanproperty">
		<div class="control-group">
			<label>
				<span class="control-label">
					<span data-bind="html: label"></span>
					<helplink params="url: helpURL"></helplink>
				</span>
				<div class="controls">
					<span class="value" data-bind="text: ko.unwrap(value) ? 'Yes' : 'No'"></span>
				</div>
			</label>
		</div>
	</template>

	<template id="component-percentproperty">
		<div class="control-group">
			<label>
				<span class="control-label">
					<span data-bind="html: label"></span>
					<helplink params="url: helpURL"></helplink>
				</span>
				<div class="controls">
					<span class="percentproperty value" data-bind="text: ko.unwrap(value)+'%'"></span>
				</div>
			</label>
		</div>
	</template>

	<template id="component-selectproperty">
		<div class="control-group">
			<label>
				<span class="control-label">
					<span data-bind="html: label"></span>
					<helplink params="url: helpURL"></helplink>
				</span>
				<div class="controls">
					<span class="value" data-bind="text: optionsText ? ko.unwrap(value)[ko.unwrap(optionsText)] : value"></span>
				</div>
			</label>
		</div>
	</template>

	<script type="text/html" id="property">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<span class="value" data-bind="text: property, css: {monospace: 'monospace' in $data ? monospace : false}"></span>
			</div>
		</label>
	</script>

	<script type="text/html" id="booleanproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<span class="value" data-bind="text: property() ? 'Yes' : 'No'"></span>
			</div>
		</label>
	</script>

	<script type="text/html" id="percentproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<span class="percentproperty value" data-bind="text: ko.utils.unwrapObservable(property)+'%'"></span>
			</div>
		</label>
	</script>

	<script type="text/html" id="jmeproperty">
		<label>
			<span data-bind="html: label"></span>
			<div class="controls">
				<span class="value" data-bind="JME: property"></span>
			</div>
		</label>
	</script>

	<script type="text/html" id="selectproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<span class="value" data-bind="text: $data.optionsText===undefined ? property : ko.utils.unwrapObservable(property)[ko.utils.unwrapObservable($data.optionsText)]"></span>
			</div>
		</label>
	</script>

{% endverbatim %}
